@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600&display=swap");
@import "variables.css";

body {
  font-family: 'Baloo Thambi 2', cursive;
  margin: 0;
  color: ghostwhite;
}

.weather-info {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: var(--url-home);
  background-size: cover;
  background-position: center;
}

.container {
  height: auto;
  min-width: 35%;
  position: absolute;
  top: 26%;
  left: 33%;
  transition-duration: .5s;
  transition-property: opacity;
}

.btn {
  width: fit-content;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  background-color: white;
  font-family: inherit;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn:active {
  transform: scale(0.95);
}

.weather-app__search-view, .weather-info__forecast-view {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.weather-app__search-view h1 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.search input {
  width: 40%;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.weather-info__forecast-view {
  display: none;
  padding: 0 7px 7px 7px;
  grid-template-columns: 50% 50%;
}

.weather-info__icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.weather-info__icon img {
  width: 250px;
}

.weather-info__temperatures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-info__temperatures h1 {
  font-size: 35px;
}

.weather-info__temperatures h2 {
  font-size: 25px;
}

.weather-info__temperatures p {
  font-size: 20px;
}